venv/
metadata_google/
metadata_google.parquet
metadata_google_maps.parquet
etl_metadata_sitios_google.parquet
metadata_sitios_google.parquet
prctica-etl-0a6513e878e5.json
prctica-etl-2af93f84aca1.json